[Looker]
api_versions=3.1
base_url=https://<your-looker-endpoint>:19999
## for info on how to find your client ID and secret, see 
## [here](https://github.com/looker-open-source/sdk-codegen#configuring-lookerini-or-env0)
client_id=<your_API3_client_id>
client_secret=<your_API3_client_secret>
verify_ssl=true
## timeout in seconds for your query. if queries are written efficiently, 
## they should not take more than 5 minutes
timeout=300